.root {
  composes: standard bottom-right from '../styles/common/overlays.css';
  z-index: 900;
  position: absolute;
  bottom: 50px;
  right: 50px;
  text-align: right;
  padding: 10px 30px;
  background-color: rgba(255,255,255, .5);
  overflow: hidden;
}

.root .duration {
  margin: -10px -30px 0;
  padding: .25em .5em;
  background-image: linear-gradient(to bottom, limegreen, forestgreen);
  border-bottom: 1px solid rgba(0,0,0, .2);
  color: white;
  font-size: 50px;
  font-weight: 100;
  text-shadow: 0 3px rgba(0,0,0,.2);
}

.timestamps {
  margin-top: .5em;
  text-align: center;
  font-size: 18px;
  color: #296529;
}

.now,
.then {
  font-weight: 500;
}

.now::after {
  content: ' – ';

}
