.root {
  z-index: 100;
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  background-color: white;
  padding: 1em;
  border-radius: 3px;
  box-shadow:
    0 5px 10px rgba(0,0,0,.3),
    0 0 0 1px rgba(0,0,0,.1);
  background-image: linear-gradient(to bottom, white 20%, #eee);
}
