.root {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.mask {
  z-index: 9000;
  background-color: hsla(200, 100%, 33%, 0.5);
  color: white;
}

.flightPath {
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 10 10;
  box-shadow: 1px 1px black;
}

.tooltipPane {
  display: none;
}

.tooltipPane.isMousedOver {
  display: block;
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.81);
  color: black;
  padding: 1em;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 3px 3px rgba(0,0,0,.2);
  font-size: 16px;
}

.borough {
  stroke-width: 1;
  stroke-dasharray: 2px 2px;
}

.borough:hover {
  fill-opacity: .5;
}

.queens {
  composes: borough;
  fill: green;
  fill-opacity: .3;
  stroke: green;
  stroke-opacity: .7;
}

.statenIsland {
  composes: borough;
  fill: magenta;
  fill-opacity: .3;
  stroke: magenta;
  stroke-opacity: .7;
}

.brooklyn {
  composes: borough;
  fill: blue;
  fill-opacity: .3;
  stroke: blue;
  stroke-opacity: .7;
}

.bronx {
  composes: borough;
  fill: green;
  fill-opacity: .3;
  stroke: green;
  stroke-opacity: .7;
}

.manhattan {
  composes: borough;
  fill: red;
  fill-opacity: .3;
  stroke: red;
  stroke-opacity: .7;
}
