.root {
  z-index: 99;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  overflow: hidden;
}

.mask {
  z-index: 9000;
  background-color: hsla(200, 100%, 33%, 0.5);
  color: white;
}
